<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>Información del Curso</h1>
    <div class="info-card">
    <p><strong>Curso:</strong> {{courseName}}</p>
    <p><strong>Profesor:</strong> {{teacherName}}</p>
    <p><strong>Fecha:</strong> {{currentDate}}</p>
    </div>
    <br>
    <a href="/">Volver al Inicio</a>
</body>
</html>
